*{
    padding: 0px;
    margin: 0px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
    height: 100px;
    width: 100%;
    background-color: teal;
    color: white;
    font-size: 40px;
    
}

